/vdp-java/.classpath
/vdp-java/.project
/vdp-java/.settings/
/vdp-java/target/
/vdp-node/.jshintrc
/vdp-node/.project
/vdp-node/.settings/
/vdp-node/.sublime-project
vdp-python/.project
vdp-python/.pydevproject
/vdp-python/.eggs
/vdp-python/build
/vdp-python/dist
/vdp-python/MANIFEST
/vdp-python/vdp.egg-info
.python-version
*.pyc
*.egg
*.class
/vdp-ruby/.bundle/
/vdp-ruby/.yardoc
/vdp-ruby/Gemfile.lock
/vdp-ruby/_yardoc/
/vdp-ruby/coverage/
/vdp-ruby/doc/
/vdp-ruby/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
/vdp-php/.buildpath
/vdp-php/.project
/vdp-php/.settings/
/vdp-php/vendor/
/vdp-php/composer.lock
/vdp-php/composer.phar
/vdp-node/.tern-project
/vdp-node/node_modules/
*__pycache__*